.box{
    width: 30px;
    height: 45px;
    border-top: 50px solid blue;
    border-right: 50px solid yellow;
    border-bottom: 50px solid green;
    border-left: 50px solid red;
    border-width: 30px;
    background-color: black;
}  
